{{ $base := .base }}
{{ $parent := .parent }}
{{ with .manifest }}
<div>
    <ul>
    <li><a href="{{ $parent }}">..</a></li>
    {{ range $key, $value := .Overrides }}
        <li><a href="{{ $base }}{{ $key }}">{{ with $key }}{{ . }}{{ else }}EMPTY{{ end }}</a></li>
    {{ end }}
    </ul>
</div>

<form action="?" method="post" enctype="multipart/form-data">
	<div>
		Add Files:
		<input type="file" id="file" name="file" multiple="multiple">
	</div>
	<!-- <div>
		Add Dir:
		<input type="file" id="file" name="directory" webkitdirectory>
	</div> -->
	<input type="submit">
</form>

<form action="?" method="post" >
	<div>
		Create empty directory
		<input type="text" id="dir" name="dir">
	</div>
	<input type="submit">
</form>
{{ end }}

<pre>
{{ .blob }}
</pre>
