{{ $current := .current }}
{{ $parent := .parent }}
{{ with .node }}
<div>
    <ul>
    <li><a href="{{ $parent }}"><code>..</code></a></li>
    {{ range .Links }}
        <li><a href="{{ $current }}{{ .Name }}"><code>{{ .Cid }} {{ .Name }}{{ if eq .Cid.Prefix.Codec 0x70 }}/{{ end }}</code></a></li>
    {{ end }}
    </ul>
</div>

<form action="?" method="post" enctype="multipart/form-data">
	<div>
		Add Files:
		<input type="file" id="file" name="file" multiple="multiple">
	</div>
	<!-- <div>
		Add Dir:
		<input type="file" id="file" name="directory" webkitdirectory>
	</div> -->
	<input type="submit">
</form>

<form action="?" method="post" >
	<div>
		Create empty directory
		<input type="text" id="dir" name="dir">
	</div>
	<input type="submit">
</form>
{{ end }}

<pre>
{{ .blob }}
</pre>
