<html>
<h1>
	HELLO {{ .hash }}
</h1>

<div id="content">EMPTY</div>
<script>
    var overrides = {};
    async function go() {
        t = await (await fetch("{{ .target }}")).text();
        // https://stackoverflow.com/questions/483745/replace-html-page-with-contents-retrieved-via-ajax
        document.open();
        document.write(t);
        document.close();
    }
    navigator.serviceWorker.addEventListener('message', async event => {
        const url = event.data.url;
        var res = {};
        if (url.startsWith("http://localhost:8080/")
            || url.startsWith("https://multiverse-312721.nw.r.appspot.com/")
            ) {
            // Default.
            res = {url: url};
        } else if (event.data.method != "GET") {
            res = {};
        } else if (url.startsWith("https://mv/")) {
            const hash = url.replace("https://mv/", "");
            console.log("hash: ", hash);
            res = {url: "/h/" + hash};
        } else {
            const hash = overrides[url];
            if (hash != undefined) {
                console.log("url mapped to hash: ", hash);
                res = {url: "/h/" + hash};
            } else {
                console.log('caching ' + url);
                const response = await fetch(url, {redirect: "follow"});
                // console.log("download response: ", response);
                const data = new FormData();
                data.append("file", await response.blob(), "file");
                const uploadResponse = await fetch("/upload", { method: "POST", body: data });
                // console.log("upload response: ", uploadResponse);
                const hash = await uploadResponse.text();
                res = {url: "/h/" + hash};
            }
        }
        console.log(overrides)
        // console.log("sending ", res);
        event.data.s.postMessage(res);
    });
    navigator.serviceWorker.register('/snapshot_sw.js').then((registration) => {
        console.log('registration succeeded')
        registration.update().then((_) => {
            go();
        });
    }).catch((error) => {
        console.log("registration failed: ", error);
    });

</script>

</html>
